<h1>LET'S PLAY</h1>
<%= render "shared/nav" %>
<h3>Let's play is a place where you can find a partner to play tennis. </h3>
<h3>Click here <%= link_to 'players', players_path %> and check who is registered with us</h3>
<p>Do you want to know how this data was generated? check our <%= link_to 'About', about_page_index_path %> page</p>

