// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav li{
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}
body{
   
    background-image: url(bluecourt.jpg);
}
.container{
    background: white;
    padding-top: 30px;
    margin-top: 2em;
}
.navbar-default{
    background: lightgrey;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
}


.justify-content-end{
    margin-top: 10px;
    margin-bottom: 20px;
}

.container{
    min-height: 50em;
}
