// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav li{
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}
body{
    background: lightgrey;
}
.container{
    background: white;
    padding-top: 30px;
}
.navbar-default{
    background: lightgrey;
}

.search{
    text-align: right;
}
.justify-content-end{
    margin-top: 10px;
    margin-bottom: 20px;
}